:root
{
    --background-color:#BA0000;
    --secondary-color:#ffffff;
    --text-color:#000000;
    --accent-color-1:#FFB202;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.headerText {
  color: black;
  font-family: "microgramma-extended", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5vw;
  letter-spacing: 5px;
  margin-top: 10px;
  margin-bottom: -40px;
  margin-left: -17vw;
}

.headerText2 {
  color: black;
  font-family: "microgramma-extended", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5vw;
  letter-spacing: 5px;
  margin-top: -5px;
  margin-bottom: -60px;
  margin-left: -5vw;
}

.headerText3 {
  color: black;
  font-family: "microgramma-extended", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5vw;
  letter-spacing: 5px;
  margin-top: 10px;
  margin-bottom: -60px;
  margin-left: -5vw;
  line-height: 50px;
}

.bodyText {
  color: rgb(255, 255, 255);
  font-family: "purista-web", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.5vw;
  letter-spacing: 2px;

}

.button {
  color: black;
  font-family: "purista-web", sans-serif;
  font-weight: 1000;
  font-style: italic;
  font-size: 3vw;

}

.calendarCell {
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  color: black;
  font-family: "microgramma-extended", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5vw;
  letter-spacing: 5px;
  height: 35vh;
  margin-top: 0.1vh;
  vertical-align: text-top;
}

.calendarItem {
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  color: black;
  background: #BA0000;
  font-family: "purista-web", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1vw;
  letter-spacing: 2px;
  padding: 2px;
  margin: 0;
  margin-top: 0.1vh;
  display: flex;
  flex-direction: row;
}

.dropdownContent {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent:hover {
  background-color: #afaaaa;
  color: black;
}

.dropdownContent:focus {
  background-color: #FFB202;
  color: black;
}

.slidingMenu {
  position: absolute;
  transform: translateX(-100%);
  background: #fff0f0;
  transition: transform 0.5s;
  width: 90%;
  height: 8vh;
  border: #000000 3px solid;
  padding: 1vh;

  &.show {
    transform: translateX(0);
  }
}